body {
  background-color: rgb(180, 214, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  padding: 14px 21px;
  font-size: 18px;
  /* cursor: pointer; */
}
   